<section class="testimonials py-5" id="testimonials">
  <div class="container py-lg-5 p-3">
    <div class="inner-sec-w3ls-pyt speak">
      <h3 class="title"><span>What’s our</span> Client Say about Me</h3>
      <div class="row mt-lg-5 mt-4">

        <div class="col-lg-6 test-grid text-left">
          <div class="row">

            <div class="col-md-4 test-img">
              <img src="images/te1.jpg" class="img-fluid" alt="user-image">
            </div>
            <div class="col-md-8 test-info">
              <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Sub Title</span> Mariana Noe</h3>
              <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
              <div class="social mt-4">
                <ul>
                  <li><a href="#"><span class="fa mr-2 fa-facebook"></span></a></li>
                  <li><a href="#"><span class="fa mr-2 fa-twitter"></span></a></li>
                  <li><a href="#"><span class="fa mr-2 fa-vk"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 test-grid text-left">
          <div class="row">

            <div class="col-md-4 test-img">
              <img src="images/te2.jpg" class="img-fluid" alt="user-image">
            </div>
            <div class="col-md-8 test-info">
              <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Sub Title</span> Mariana Noe</h3>
              <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
              <div class="social mt-4">
                <ul>
                  <li><a href="#"><span class="fa mr-2 fa-facebook"></span></a></li>
                  <li><a href="#"><span class="fa mr-2 fa-twitter"></span></a></li>
                  <li><a href="#"><span class="fa mr-2 fa-vk"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
