
<header class="header">
  <div class="container-fluid px-lg-5">
    <!-- nav -->
    <nav class="py-4">
      <div class="logo-w3layouts" id="logo-w3layouts">
        <a href="index.html"><span class="fa fa-magnet" aria-hidden="true"></span></a>

      </div>

      <label for="drop" class="toggle">Menu</label>
      <input type="checkbox" id="drop" />
      <ul class="menu mt-2">
        <li class="mr-lg-4 mr-3 active"><a href="#">Home</a></li>
        <li class="mr-lg-4 mr-3"><a href="https://www.facebook.com/sayem.rimon" class="scroll">About</a></li>
        <li class="mr-lg-4 mr-3"><a href="#services" class="scroll">Services</a></li>
        <li class="mr-lg-4 mr-3"><a href="#experience" class="scroll">Experience</a></li>
        <li class="mr-lg-4 mr-3">
          <!-- First Tier Drop Down -->
          <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
          <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
          <input type="checkbox" id="drop-2" />
          <ul>
            <li><a href="#blog" class="scroll">Blogs</a></li>
            <li><a href="#gallery" class="scroll">Projects</a></li>
            <li><a href="#testimonials" class="scroll">Clients</a></li>
          </ul>
        </li>
        <li><a href="#contact" class="scroll">Contact</a></li>
      </ul>
    </nav>
    <!-- //nav -->
  </div>
</header>
