<section class="blog py-5" id="blog">
  <div class="container py-lg-5 py-3">
    <h3 class="title"><span>Read Our</span> Latest Blogs</h3>
    <div class="row blog-grids mt-lg-5 mt-4">
      <div class="col-lg-7">
        <h4 class="left-grid-blog">I write beautiful things</h4>
      </div>
    </div>
    <div class="row mt-lg-5 mt-3">
      <div class="col-lg-4 col-md-6 w3ls">
        <div class="blog-grid1">
          <span>25th  March</span>
          <h4>Website Design</h4>
          <p>Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor......</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 w3ls mt-md-0 mt-3">
        <div class="blog-grid1">
          <span>25th  March</span>
          <h4>Mobile Apps </h4>
          <p>Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor......</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-lg-0 mt-3 w3ls">
        <div class="blog-grid1">
          <span>25th  March</span>
          <h4>Web Development </h4>
          <p>Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor......</p>
        </div>
      </div>
    </div>
  </div>
</section>
