<section class="about py-5" id="about">
  <div class="container py-3">
    <h3 class="title text-center text-white"><span class="ab">Some Info</span> About Me</h3>
    <div class="about-grids mt-lg-5 mt-4 text-center">
      <p class="main_p mb-5  text-center mx-auto">Integer porttitor mollisar lorem, at molestie arcu pulvinar ut.</p>
      <h2 class="main_head">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem. </h2>
      <p class="main_p2 mt-4 mb-4 pt-2 text-center mx-auto">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum Proin ac </p>
      <div class="whsat_bt text-center mx-auto">
        <a href="#gallery" class="text-capitalize mr-2 work btn scroll">My Projects <span class="fa fa-photo" aria-hidden="true"></span></a>
      </div>

    </div>
  </div>
</section>
