<footer class="py-5 text-center">
  <div class="container">
    <div class="agileinfo-grids">
      <div class="agile-grid-left agile-grid-right text-center">
        <div class="social mb-4">
          <ul>
            <li><a href="#"><span class="fa mr-2 fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa mr-2 fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa mr-2 fa-google-plus"></span></a></li>
            <li><a href="#"><span class="fa mr-2 fa-pinterest"></span></a></li>
            <li><a href="#"><span class="fa mr-2 fa-vk"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright text-center mb-4">
      <p>© 2018 Precise . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
    </div>
    <a href="#home" class="move-top scroll"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
  </div>
</footer>
