<div class="mid py-lg-5 py-5 text-center" id="mid">
  <div class="container py-lg-5 py-3">
    <h5 class="w3ls-title text-white">Learn. Create. Impress.</h5>
    <p>Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor. Vestibulum at dui nunc. Nulla viverra pharetra sem, eget pulvinar neque pharetra ac int. lorem ipsum Vestibulum. placerat placerat dolor. Vestibulum at dui nunc. Nullam eu elit neque lectus.</p>
    <div class="d-flex justify-content-center mt-3">
      <a href="#gallery" class="text-capitalize mr-2 work btn scroll">My works <span class="fa fa-photo" aria-hidden="true"></span></a>
      <a href="#contact" class="text-capitalize hire btn scroll">Hire Me <span class="fa fa-male" aria-hidden="true"></span></a>
    </div>
  </div>
</div>
