<section class="gallery py-5" id="gallery">
  <div class="container py-lg-5 py-3">
    <h3 class="title"><span>View My</span>Stunning Projects</h3>
    <div class="row news-grids mt-lg-5 mt-4 text-center">
      <div class="col-md-4 gal-img">
        <a href="#gal1"><img src="images/2.jpg" alt="news image" class="img-fluid"></a>
      </div>
      <div class="col-md-4 gal-img">
        <a href="#gal2"><img src="images/3.jpg" alt="news image" class="img-fluid"></a>
      </div>
      <div class="col-md-4 gal-img">
        <a href="#gal3"><img src="images/4.jpg" alt="news image" class="img-fluid"></a>
      </div>
      <div class="col-md-4 gal-img">
        <a href="#gal4"><img src="images/5.jpg" alt="news image" class="img-fluid"></a>
      </div>
      <div class="col-md-4 gal-img">
        <a href="#gal5"><img src="images/6.jpg" alt="news image" class="img-fluid"></a>
      </div>
      <div class="col-md-4 gal-img">
        <a href="#gal6"><img src="images/7.jpg" alt="news image" class="img-fluid"></a>
      </div>
      <div class="col-md-4 gal-img">
        <a href="#gal7"><img src="images/8.jpg" alt="news image" class="img-fluid"></a>
      </div>
      <div class="col-md-4 gal-img">
        <a href="#gal8"><img src="images/9.jpg" alt="news image" class="img-fluid"></a>
      </div>
      <div class="col-md-4 gal-img">
        <a href="#gal9"><img src="images/1.jpg" alt="news image" class="img-fluid"></a>
      </div>
    </div>
  </div>
  <!-- popup-->
  <div id="gal1" class="pop-overlay animate">
    <div class="popup">
      <img src="images/2.jpg" alt="Popup Image" class="img-fluid" />
      <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
      <a class="close" href="#gallery">&times;</a>
    </div>
  </div>
  <!-- //popup -->

  <!-- popup-->
  <div id="gal2" class="pop-overlay animate">
    <div class="popup">
      <img src="images/3.jpg" alt="Popup Image" class="img-fluid" />
      <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
      <a class="close" href="#gallery">&times;</a>
    </div>
  </div>
  <!-- //popup -->
  <!-- popup-->
  <div id="gal3" class="pop-overlay animate">
    <div class="popup">
      <img src="images/4.jpg" alt="Popup Image" class="img-fluid" />
      <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
      <a class="close" href="#gallery">&times;</a>
    </div>
  </div>
  <!-- //popup3 -->
  <!-- popup-->
  <div id="gal4" class="pop-overlay animate">
    <div class="popup">
      <img src="images/5.jpg" alt="Popup Image" class="img-fluid" />
      <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
      <a class="close" href="#gallery">&times;</a>
    </div>
  </div>
  <!-- //popup -->
  <!-- popup-->
  <div id="gal5" class="pop-overlay animate">
    <div class="popup">
      <img src="images/6.jpg" alt="Popup Image" class="img-fluid" />
      <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
      <a class="close" href="#gallery">&times;</a>
    </div>
  </div>
  <!-- //popup -->
  <!-- popup-->
  <div id="gal6" class="pop-overlay animate">
    <div class="popup">
      <img src="images/7.jpg" alt="Popup Image" class="img-fluid" />
      <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
      <a class="close" href="#gallery">&times;</a>
    </div>
  </div>
  <!-- //popup -->
  <!-- popup-->
  <div id="gal7" class="pop-overlay animate">
    <div class="popup">
      <img src="images/8.jpg" alt="Popup Image" class="img-fluid" />
      <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
      <a class="close" href="#">&times;</a>
    </div>
  </div>
  <!-- //popup -->
  <!-- popup-->
  <div id="gal8" class="pop-overlay animate">
    <div class="popup">
      <img src="images/9.jpg" alt="Popup Image" class="img-fluid" />
      <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
      <a class="close" href="#gallery">&times;</a>
    </div>
  </div>
  <!-- //popup -->
  <!-- popup-->
  <div id="gal9" class="pop-overlay animate">
    <div class="popup">
      <img src="images/1.jpg" alt="Popup Image" class="img-fluid" />
      <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
      <a class="close" href="#gallery">&times;</a>
    </div>
  </div>
  <!-- //popup -->

</section>
