<section class="slide-wrapper py-5" id="services">
  <div class="container py-lg-5">
    <h6 class="intr ser mx-auto">MY DETAILS</h6>
    <img src="images/banner2.jpg" class="img-fluid" alt="">
    <div class="text-center">
      <h3 class="main_head1 mt-4">Integer porttitor mollisar </h3>
      <p class="main_p3 mt-4 mb-4 text-center mx-auto"> Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. </p>
    </div>
    <div class="services">
      <div class="row service_w3top mt-5">
        <div class="col-lg-6 ser-lt">
          <div class="d-flex services-box">
            <div class="ser-icon">
              <span class="fa fa-comment"></span>
            </div>
            <!-- .Icon ends here -->
            <div class="service-content">
              <h2>Inagittis Lacg</h2>
              <p class="serp">
                Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.
              </p>
            </div>
            <!-- .Service-content ends here -->

          </div>
          <!-- .Services-box ends here -->

          <div class="d-flex services-box ser-midd">
            <div class="ser-icon">
              <span class="fa fa-image"></span>
            </div>
            <!-- .Icon ends here -->
            <div class="service-content">
              <h4>Velitdipisc Inagittis</h4>
              <p class="serp">
                Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.
              </p>
            </div>
            <!-- .Service-content ends here -->
          </div>
          <!-- .Services-box ends here -->
          <!-- .Services-box ends here -->

          <div class="d-flex services-box bx-4">
            <div class="ser-icon">
              <span class="fa fa-wrench"></span>
            </div>
            <!-- .Icon ends here -->
            <div class="service-content">
              <h4>Sagittis Lacus</h4>
              <p class="serp">
                Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.
              </p>
            </div>
            <!-- .Service-content ends here -->
          </div>
          <!-- .Services-box ends here -->
        </div>
        <!-- .Col ends here -->
        <div class="col-lg-6 ser-rgt">
          <div class="d-flex services-box bx-1">
            <div class="ser-icon">
              <span class="fa fa-refresh"></span>
            </div>
            <!-- .Icon ends here -->
            <div class="service-content">
              <h4>Vulputate Velitdipisc</h4>
              <p class="serp">
                Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.
              </p>
            </div>
            <!-- .Service-content ends here -->
          </div>
          <!-- .Services-box ends here -->

          <div class="d-flex services-box ser-midd bx-2">
            <div class="ser-icon">
              <span class="fa fa-cog"></span>
            </div>
            <!-- .Icon ends here -->
            <div class="service-content">
              <h4>Sagittis Lacus</h4>
              <p class="serp">
                Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.
              </p>
            </div>
            <!-- .Service-content ends here -->
          </div>
          <!-- .Services-box ends here -->
          <!-- .Services-box ends here -->

          <div class="d-flex services-box bx-3">
            <div class="ser-icon">
              <span class="fa fa-check"></span>
            </div>
            <!-- .Icon ends here -->
            <div class="service-content">
              <h4>Sagittis Lacus</h4>
              <p class="serp">
                Quisque sagittis lacus eu lorem sodalesd vulputate velitdipisc inagittis lacg enean adipiscing.
              </p>
            </div>
            <!-- .Service-content ends here -->
          </div>
          <!-- .Services-box ends here -->
        </div>
        <!-- .Col ends here -->
      </div>
      <!-- .Row ends here -->
      <!-- .Container ends here -->
    </div>
    <!-- .Services ends here -->

  </div>
</section>
