
<!-- mian-content -->
<div class="main-content" id="home">
  <div class="layer">
    <!-- header -->
    <app-header></app-header>
    <!-- //header -->

    <!-- banner -->
    <div class="banner-info-w3ls">
      <h1>Most Wanted It Girl Look
      </h1>
      <a href="#about" class="scroll">
        <div class="icon-scroll">
          <div class="mouse">
            <div class="wheel"></div>
          </div>
          <div class="icon-arrows">
            <span></span>
          </div>
        </div>
      </a>
    </div>
    <!-- //banner -->
  </div>
</div>
<!--// mian-content -->
<!-- about -->
<app-about></app-about>
<!-- about -->

<!-- services -->
<app-services></app-services>
<!-- //services -->
<!-- experience -->
<app-experiences></app-experiences>
<!-- //experience -->
<!-- mid -->
<app-action-banner></app-action-banner>
<!-- //mid -->
<!-- Gallery -->
<app-gallery></app-gallery>

<!-- blog -->
<app-blog></app-blog>
<!-- //blog -->
<!-- gallery -->
<!--/testimonials -->
<app-testimonials></app-testimonials>
<!--//testmonials -->

<app-contact-us></app-contact-us>

<app-footer></app-footer>
